body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;

}

.calculator{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    border: 5px solid black;
    width: 270px;
    height: 380px;
    background-color: beige;
}
.panel{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 230px;
    height: 40px;
    border: 2px solid peachpuff;
    margin: 20px;
    margin-bottom: 0;
    background-color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    padding: 10px;
}

.allclear , .multiply , .divide ,
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine ,
.zero , .dot , .equalto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellowgreen;
    background-color: azure;
}

.multiply , .divide ,
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine , 
.dot ,.equalto {
    width: 50px;
}

.allclear , .multiply , .divide , 
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine ,
.zero , .dot {
    height: 40px;
}

.multiply , .divide , 
.two , .three , .add ,
.five , .six , .subtract ,
.eight , .nine , .dot ,
.equalto {
    margin-left: 5px;
}

.divide , .add , 
.subtract , .equalto{
    margin-right: 20px;
}
.one , .four , 
.seven , .zero ,
.allclear{
    margin-left: 20px;    
}

.allclear{
    width: 110px;
}
.zero{
    width: 108px;
}
.equalto{
    height: 100px;
    margin-top: -60px;
}


