body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    border: 5px solid black;
    width: 270px;
    height: 380px;
}
.panel{
    width: 230px;
    height: 80px;
    border: 2px solid peachpuff;
    margin: 20px;
    margin-bottom: 0;
}

.allclear , .multiply , .divide ,
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine ,
.zero , .dot , .equalto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellowgreen;
}

.multiply , .divide ,
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine , 
.dot ,.equalto {
    width: 50px;
}

.allclear , .multiply , .divide , 
.one , .two , .three , .add ,
.four , .five , .six , .subtract ,
.seven , .eight , .nine ,
.zero , .dot {
    height: 40px;
}

.multiply , .divide , 
.two , .three , .add ,
.five , .six , .subtract ,
.eight , .nine , .dot ,
.equalto {
    margin-left: 5px;
}

.divide , .add , 
.subtract , .equalto{
    margin-right: 20px;
}
.one , .four , 
.seven , .zero ,
.allclear{
    margin-left: 20px;    
}

.allclear{
    width: 110px;
}
.zero{
    width: 108px;
}
.equalto{
    height: 93px;
    margin-top: -53px;
}


