body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    border: 5px solid black;
    width: 270px;
    height: 380px;
}
.panel{
    width: 230px;
    height: 80px;
    border: 2px solid peachpuff;
    margin: 20px;
    margin-bottom: 0;
}
.allclear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 20px;
}
.multiply{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.divide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
    margin-right: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 20px;
    
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
    margin-right: 20px;
}
.four{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 20px;
    
}
.five{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.six{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.subtract{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
    margin-right: 20px;
}
.seven{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 20px;   
}
.eight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.nine{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.zero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 20px;
}
.dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
}
.equalto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 93px;
    border: 2px solid yellowgreen;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: -53px;
}


/*clean up the css code and give it structure before moving to next part.